@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Pretendard", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.04em;
}

button {
  cursor: pointer;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 500px;
  max-width: 600px;
}

a {
  text-decoration: none;
  outline: none;
  color: black;
}
